parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/stubs
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
